<!DOCTYPE html>
<html>

<head>
    <title> {% block title %}Flasky{% endblock %}</title>


    {% block head %}
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
        <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='random.js') }}"></script>
        <script src="{{ url_for('static', filename='aes.js') }}"></script>
        <script src="{{ url_for('static', filename='api.js') }}"></script>
        <script src="{{ url_for('static', filename='sha256.js') }}"></script>
    {% endblock %}
    
</head>


<body>
    {% block application %}
        <div id="app">
            <v-app id="inspire">
                <v-navigation-drawer temporary clipped app v-model="drawer">
                    <v-list dense>
                        <template v-for="(item, i) in items">
                            <v-layout row v-if="item.heading" align-center :key="i">
                                <v-flex xs6>
                                    <v-subheader v-if="item.heading">
                                        [[ item.heading ]]
                                    </v-subheader>
                                </v-flex>
                                <v-flex xs6 class="text-xs-center">
                                    <a href="#!" class="body-2 black--text">EDIT</a>
                                </v-flex>
                            </v-layout>
                            <v-list-group v-else-if="item.children" v-model="item.model" no-action>
                                <v-list-tile slot="item" @click="">
                                    <v-list-tile-action>
                                        <v-icon>[[ item.model ? item.icon : item['icon-alt'] ]]</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            [[ item.text ]]
                                        </v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                                <v-list-tile v-for="(child, i) in item.children" :key="i" @click="">
                                    <v-list-tile-action v-if="child.icon">
                                        <v-icon>[[ child.icon ]]</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            [[ child.text ]]
                                        </v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </v-list-group>
                            <v-list-tile v-else @click="">
                                <v-list-tile-action>
                                    <v-icon>[[ item.icon ]]</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        [[ item.text ]]
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </v-list>
                </v-navigation-drawer>
                <v-toolbar color="blue darken-3" dark app clipped-left fixed>
                    <v-toolbar-title style="max-width: 300px" class="ml-0 pl-3">
                        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                        Password keeper
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon large>
                        <v-avatar size="32px" tile>
                            <img src="https://vuetifyjs.com/static/doc-images/logo.svg" alt="Vuetify">
                        </v-avatar>
                    </v-btn>
                </v-toolbar>
                <main>
                    <v-content>
                        <v-container fluid class="no-padding">
                            <v-flex hidden-xs-only>
                                <v-layout align-center>
                                    <template>
                                        <v-data-table v-bind:headers="headers" 
                                                    v-bind:items="passwords" 
                                                    hide-actions 
                                                    class="elevation-1">
                                            <template slot="items" slot-scope="props">
                                                <tr @click="checkMasterPassword(showPassword, [[ props.item.id ]])" >
                                                    <td>[[ props.item.title ]]</td>
                                                    <td class="text-xs-right">[[ props.item.login ]]</td>
                                                    <td class="text-xs-right">[[ props.item.url ]]</td>
                                                </tr>
                                            </template>
                                        </v-data-table>
                                    </template>
                                </v-layout>
                            </v-flex>

                            <v-flex hidden-sm-and-up>
                                <v-list two-line>
                                    <template v-for="item in passwords">
                                        <v-list-tile @click="checkMasterPassword(showPassword, [[ item.id ]])">
                                            <v-list-tile-content>
                                                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                                <v-list-tile-sub-title v-html="item.description"></v-list-tile-sub-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-divider></v-divider>                                    
                                    </template>
                                </v-list>
                            </v-flex>
                        </v-container>
                        <template>
                            <div class="text-xs-center">
                                <v-bottom-sheet v-model="passwordDescriptionSheet">
                                    <v-list two-line style="position: relative;">
                                        <v-btn top right absolute fab dark @click="editPassword" color="cyan">
                                            <v-icon dark>edit</v-icon>
                                        </v-btn>

                                        <v-subheader>[[ selected.title ]]</v-subheader>
                                        <v-list-tile>
                                            <v-list-tile-avatar>
                                                <v-icon x-large>info</v-icon>
                                            </v-list-tile-avatar>
                                            <v-list-tile-content> 
                                                <v-list-tile-title>  Описание: </v-list-tile-title>
                                                <v-list-tile-sub-title><span class="grey--text text--darken-2">[[ selected.description ]]</span></v-list-tile-sub-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-avatar>
                                                <v-icon x-large>mail</v-icon>
                                            </v-list-tile-avatar>
                                        <v-list-tile-content> 
                                                <v-list-tile-title>  Логин: </v-list-tile-title>
                                                <v-list-tile-sub-title><span class="grey--text text--darken-2">[[ selected.login ]]</span></v-list-tile-sub-title>
                                            </v-list-tile-content>                                        
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-avatar>
                                                <v-icon x-large>https</v-icon>
                                            </v-list-tile-avatar>
                                            <v-list-tile-content> 
                                                <v-list-tile-title> Пароль: </v-list-tile-title>
                                                <v-list-tile-sub-title><span class="grey--text text--darken-2">[[ selected.password ]]</span></v-list-tile-sub-title>
                                            </v-list-tile-content>                                        
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-avatar>
                                                <v-icon x-large>link</v-icon>
                                            </v-list-tile-avatar>
                                            <v-list-tile-content> 
                                                <v-list-tile-title>  Ссылка: </v-list-tile-title>
                                                <v-list-tile-sub-title><span class="grey--text text--darken-2">[[ selected.url ]]</span></v-list-tile-sub-title>
                                            </v-list-tile-content>                                        
                                        </v-list-tile>
                                    </v-list>
                                </v-bottom-sheet>
                            </div>
                        </template>
                    </v-content>
                </main>
                <v-btn fab bottom right color="red" dark fixed @click.stop="createDialog = !createDialog">
                    <v-icon>add</v-icon>
                </v-btn>

                <v-dialog v-model="createDialog" max-width="800px">
                    <v-form>
                        <v-card>
                            <v-card-title class="grey lighten-4 py-4 title">
                                Новый пароль
                            </v-card-title>
                            <v-container grid-list-sm class="pa-4">
                                <v-layout row wrap>
                                    
                                    <v-flex xs12 align-center justify-space-between>
                                        <v-layout align-center>
                                            <v-text-field v-model="newPassword.title" placeholder="Название"></v-text-field>
                                        </v-layout>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="newPassword.description" prepend-icon="info" placeholder="Описание"></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="newPassword.login" prepend-icon="mail" placeholder="Логин"></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field  v-model="newPassword.password" prepend-icon="vpn_key" placeholder="Пароль"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="newPassword.url" prepend-icon="notes" placeholder="Ссылка"></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="createDialog = false">Отмена</v-btn>
                                <v-btn flat @click="checkMasterPassword(createPassword)">Сохранение</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-form>
                </v-dialog>

                <v-dialog v-model="editDialog" max-width="800px">
                    <v-form>
                        <v-card>
                            <v-card-title class="grey lighten-4 py-4 title">
                                Редактирование
                            </v-card-title>
                            <v-container grid-list-sm class="pa-4">
                                <v-layout row wrap>
                
                                    <v-flex xs12 align-center justify-space-between>
                                        <v-layout align-center>
                                            <v-text-field v-model="selected.title" placeholder="Название"></v-text-field>
                                        </v-layout>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="selected.description" prepend-icon="info" placeholder="Описание"></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="selected.login" prepend-icon="mail" placeholder="Логин"></v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-text-field v-model="selected.password" prepend-icon="vpn_key" placeholder="Пароль"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field v-model="selected.url" prepend-icon="notes" placeholder="Ссылка"></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn flat color="error" @click=deletePassword>Удалить</v-btn>
                                <v-btn flat color="primary" @click="editDialog = !editDialog">Отмена</v-btn>
                                <v-btn flat @click="checkMasterPassword(updatePassword, selected.id)">Сохранение</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-form>
                </v-dialog>

                <v-dialog v-model="masterPasswordDialog" max-width="500px">
                    <v-form @submit.prevent="checkMasterPassword(masterPasswordCallback, masterPasswordCallbackParams)">
                        <v-card>
                            <v-card-title>
                                Подтвердите мастер пароль
                            </v-card-title>
                            <v-container>
                                <v-layout row wrap>
                                    <v-flex>
                                        <v-text-field 
                                            v-model="masterPassword" 
                                            placeholder="Пароль"
                                            :append-icon="masterPasswordFieldHidden ? 'visibility' : 'visibility_off'" 
                                            :append-icon-cb="() => (masterPasswordFieldHidden = !masterPasswordFieldHidden)"
                                            :type="masterPasswordFieldHidden ? 'password' : 'text'">
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn flat @click="checkMasterPassword(masterPasswordCallback, masterPasswordCallbackParams)">Ок</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-form>
                </v-dialog>

                <v-snackbar 
                    :timeout="5000" 
                    :color="snackbar.color"
                    bottom
                    left
                    v-model="showSnackbar">

                    [[ snackbar.text ]]
                </v-snackbar>
            </v-app>
        </div>
    {% endblock application %}
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {% block vue_application %}
        <script>
            var vue = new Vue({
                el: '#app',
                delimiters: ["[[", "]]"],
                data: {
                    /* TODO create ui object for some data fields to contain it */
                    createDialog: false,
                    editDialog: false,
                    drawer: false,
                    passwordDescriptionSheet: false,
                    masterPasswordDialog: false,
                    showSnackbar: false,
                    masterPassword: "",
                    masterPasswordCallback: "",
                    masterPasswordCallbackParams: "",
                    masterPasswordFieldHidden: true,
                    selected: {
                        "master_password_hash": ""
                    },
                    passwords: [],
                    passwordsDectypted: false,
                    newPassword: {
                        "title": "",
                        "description": "",
                        "login": "",
                        "password": "",
                        "url": "",
                        "master_password_hash": ""
                    },
                    headers: [
                        { text: "Название", value: "title" },
                        { text: "Логин", value: "login" },
                        { text: "Ссылка", value: "url" }
                    ],
                    snackbar: {
                        "text": "",
                        "color": "",
                    },
                    items: [
                        { icon: 'contacts', text: 'One' },
                        { icon: 'history', text: 'Two' },
                        { icon: 'content_copy', text: 'Three' },
                        /* {
                            icon: 'keyboard_arrow_up',
                            'icon-alt': 'keyboard_arrow_down',
                            text: 'Labels',
                            model: true,
                            children: [
                                { icon: 'add', text: 'Create label' }
                            ]
                        },
                        {
                            icon: 'keyboard_arrow_up',
                            'icon-alt': 'keyboard_arrow_down',
                            text: 'More',
                            model: false,
                            children: [
                                { text: 'Import' },
                                { text: 'Export' },
                                { text: 'Print' },
                                { text: 'Undo changes' },
                                { text: 'Other contacts' }
                            ]
                        },
                        { icon: 'settings', text: 'Settings' },
                        { icon: 'chat_bubble', text: 'Send feedback' },
                        { icon: 'help', text: 'Help' },
                        { icon: 'phonelink', text: 'App downloads' },
                        { icon: 'keyboard', text: 'Go to the old version' }*/
                    ]
                },

                methods: {
                    createPassword: function () {
                        if (!this.masterPassword) {
                            this.snackbar.text = "Введите мастер-пароль и повторите операцию!"
                            this.snackbar.color = "error"
                            this.showSnackbar = true
                        } else {
                            this.createDialog = false;

                            this.newPassword.master_password_hash = Sha256.hash(this.masterPassword)
                            this.newPassword.password = cryptico.encryptAESCBC(this.newPassword.password, this.masterPassword)

                            axios.post(
                                '/storage',
                                this.newPassword
                            )
                                .then(response => {
                                    this.readPasswords()
                                    this.newPassword = {
                                        "title": "",
                                        "description": "",
                                        "login": "",
                                        "password": "",
                                        "url": "",
                                    }
                                })
                                .catch(e => {
                                    console.log(e)
                                })

                        } 
                    },
                    readPasswords: function () {
                        axios.get(`/storage`)
                            .then(response => {
                                this.passwords = response.data
                                this.passwordsDectypted = false
                            })
                            .catch(e => {
                                console.log(e)
                            })
                    },
                    updatePassword: function () {
                        if (!this.masterPassword) {
                            this.snackbar.text = "Введите мастер-пароль и повторите операцию!"
                            this.snackbar.color = "error"
                            this.showSnackbar = true
                            this.masterPasswordCallback = callback
                            this.masterPasswordCallbackParams = arguments
                        } else {
                            this.selected.master_password_hash = Sha256.hash(this.masterPassword)
                            this.selected.password = cryptico.encryptAESCBC(this.selected.password, this.masterPassword)

                            axios.put(
                                '/storage',
                                this.selected,
                            )
                                .then(response => {
                                    console.log(response)
                                    this.editDialog = false;
                                })
                                .catch(e => {
                                    console.log(e)
                                })
                        }
                    },
                    deletePassword: function () {
                        axios({
                            method: 'delete',
                            url: '/storage',
                            data: { id: this.selected.id.toString() }
                        })
                            .then(response => {
                                this.selected = {};
                                this.editDialog = false;
                                this.readPasswords();
                            })
                            .catch(e => {
                                console.log(e)
                            })
                    },
                    showPassword: function (arguments) {
                        if (!this.masterPassword) {
                            this.snackbar.text = "Введите мастер-пароль и повторите операцию!"
                            this.snackbar.color = "error"
                            this.showSnackbar = true
                            this.masterPasswordCallback = callback
                            this.masterPasswordCallbackParams = arguments
                        } else {
                            if (!this.passwordsDectypted) {
                                this.passwords.forEach( (p) => {
                                    p.password = cryptico.decryptAESCBC(p.password, this.masterPassword)
                                })

                                this.passwordsDectypted = true
                            }

                            console.log(arguments)

                            var id = arguments[1].toString()
                            this.selected = this.passwords.find(item => item.id === id)
        
                            this.passwordDescriptionSheet = true;
                        }                        
                    },
                    editPassword: function () {
                        this.editDialog = true;
                        this.passwordDescriptionSheet = false;
                    },
                    checkMasterPassword: function(callback) {
                        if (!this.masterPassword) {
                            this.masterPasswordDialog = true
                            this.masterPasswordCallback = callback
                            this.masterPasswordCallbackParams = arguments[1]
                        } else {
                            axios.post("/check-master-password", {
                                "master_password_hash": Sha256.hash(this.masterPassword)
                            })
                                .then(response => {
                                    this.masterPasswordDialog = false
                                    callback(arguments)
                                })
                                .catch(e => {
                                    console.log(e)
                                    this.snackbar.text = "Неверный мастер пароль, попробуйте еще!"
                                    this.snackbar.color = "error"
                                    this.showSnackbar = true
                                    this.masterPassword = ""
                                })
                            }
                        }
                },

                created() {
                    this.readPasswords()
                }
            })
        </script>
    {% endblock vue_application %}
     
</body>

</html>